/* Constants */
/* MAIN_DARK = #2e3e4e; */
/* MAIN = #33ba9c */

/*------------------------------------*/
/* BASIC SETUP */
/*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato";
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.418);
}
section {
  padding: 6em 0;
}
section h1 {
  font-size: 2.5em;
  color: #2c3e50;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 24px;
}
hr.star-dark,
hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
hr.star-light {
  border-color: #fff;
}
hr.star-light:after {
  color: #fff;
  background-color: #42b89c;
}
hr.star-dark:after {
  color: #2c3e50;
  background-color: #f4f4f4;
}

hr.star-dark:after,
hr.star-light:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}
/*------------------------------------*/
/* Nav bar */
/*------------------------------------*/

.navbar {
  background: #2e3e4e;
}
.nav-link,
.navbar-brand {
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-: border-bottom 1s;
  transition: border-bottom 1s;
}
.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #33ba9c;
  transition: border-bottom 1s;
}

.navbar-toggler {
  background: #42d1b2;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.navbar-collapse {
  justify-content: flex-end;
}
/*------------------------------------*/
/* Header */
/*------------------------------------*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 900px;
  background-color: #33ba9c;
}
header h1 {
  font-size: 4em;
}
.header-wrapper {
  margin-top: 8em;
  display: flex;
  padding: 1em;
}
.header-featured-img {
  text-align: center;
}
.header-featured-img img {
  max-width: 80%;
  max-height: 80%;
}
.description {
  margin-top: 3em;
  color: #fff;
}

.description p {
  font-size: 1.5em;
  line-height: 1.7;
}
.field-list {
  list-style: none;
}
.field-list li {
  font-size: 1.2em;
}
.description button {
  color: #fff;
  background-color: #2e3e4e;
  border: 1px solid #33ba9c;
}
.description button:hover,
.description button:active {
  color: #33ba9c;
  background-color: #2e3e4e;
}
/*------------------------------------*/
/* About me */
/*------------------------------------*/
.avatar {
  object-fit: cover;
}
.about {
  position: relative;
}

.about img {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.about span {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 4px;

  display: block;
  color: #2e3e4e;
  text-align: center;
}
.about .brief {
  padding: 4em 1.5em;
  border-left: 4px solid #42d1b2;
}
.about .brief h3 {
  font-size: 1.5em;
  display: block;
  padding: 0.5em 1.5em;
  color: rgba(255, 255, 255, 0.815);
  background: #33ba9c;
}
.about .brief p {
  line-height: 2;
  font-size: 1.1em;
}
.requirements-list {
  list-style: none;
  line-height: 2.7;
}
.requirements-list li:before {
  position: relative;
  top: -0.1em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  font-size: 0.6em;
}
/*------------------------------------*/
/* Portfolio */
/*------------------------------------*/
.portfolio {
  position: relative;
  background-color: #33ba9c;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  border: 10px solid #2e3e4e79;
}
.project-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
}
.project-wrapper {
  position: relative;
  text-align: center;
  margin: 0.5em;
}
a.project-link {
  text-decoration: none;
}
.project-link .project-info {
  display: none;
  padding: 10px;
}
.project-link .project-info {
  display: flex;

  flex-direction: column;
  width: 100%;
  height: 30%;
  background-color: rgba(3, 143, 136, 0.79);
  justify-content: center;
}
.project-link .project-name {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em 1em;
}

/*------------------------------------*/
/* Contact Form */
/*------------------------------------*/
.contact-form {
  padding: 6em 0;
  position: relative;
}
.contact-form h1 {
  text-transform: none;
  font-weight: lighter;
}
.contact-form h1:after {
  display: block;
  height: 2px;
  background-color: #33ba9c;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5em;
}
.contact-form .form {
  max-width: 600px;
}
.contact-form .row {
  justify-content: space-around;
}

/*------------------------------------*/
/* Footer */
/*------------------------------------*/
footer {
  padding: 40px 0;
  background-color: #2e3e4e;
}

.footer-nav {
  display: flex;
  padding: 0 2em;
  list-style: none;
  justify-content: flex-start;
}
footer li {
  padding-left: 8px;
  display: inline-block;
}
footer li a:link,
footer li a:visited {
  color: rgb(148, 148, 148);
  text-decoration: none;
  transition: color 0.2s;
}
footer li a:hover,
footer li a:active {
  color: #33ba9c;
  padding: 2px 0;
}
.social-links {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .project-link:hover .project-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 143, 136, 0.79);
    justify-content: center;
  }
  .project-link:hover .project-name {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 1em;
  }
}
